body {
	margin:0;
	padding:0;
	background:#fff;
	background-color: rgb(36, 35, 35);
	font-family: 'Amaranth', sans-serif;
    color: rgb(201, 194, 194);
	text-align:center;
	
}

.banner{
	height: 46vh;
	width: 100%;
	background:url('images/overlay.png'),url('images/4.jpg');
    background-position: top;
	background-size:cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	animation: change 10s infinite ease-in-out;
}
.navbar{
	margin-top:2%;
}
.navbar-brand{
	color: rgb(250, 245, 245);
	font-size:2.0em;
	font-weight: 700;
	margin-left: 2%;
	font-family:'Bungee', cursive;
}
.nav{
	margin-right:11%; 
	
}

 .nav li a{
	color:rgb(255, 255, 255);
	font-size: 0.9em;
	overflow: auto;
	font-family:'Oleo Script', cursive;

	  
}

.info{
	margin-top:4%;
	transform: translateY(-15%);
}
.info h1{
	font-size: 3.8em;
	font-weight: 700;
	color: rgb(250, 255, 253);
	font-family:'Montserrat Subrayada', sans-serif;
	letter-spacing: 2px;
	animation: textanimation 1s ease-in-out;
}
@keyframes textanimation
	{
		0%{
			letter-spacing:20px ;
		}
		100%{
			letter-spacing: 1px;
		}
	}

@keyframes change
	
	{
		0%{
			background-image:url('images/overlay.png'), url('images/styleback1.jpg');
		}
		20%
		{
			background-image:url('images/overlay.png'),url('images/styleback2.jpg');
		}
		40%
		{
			background-image:url('images/overlay.png'),url('images/styleback3.jpg');
		}
		60%{
			background-image: url('images/overlay.png'),url('images/styleback4.jpg');
		}
		80%{
			background-image:url('images/overlay.png'),url('images/styleback5.jpg');
		}
		100%{
			background-image:url('images/overlay.png'),url('images/styleback6.jpg');
		}
	}

.icon{
	
	width: 40px;
	height: 20px;
	background-color: rgb(29, 30, 32);
	text-align: center;
	color: #ffffff;
	border-radius: 20%;
	
}

h2{
	
	font-weight: 700;
	color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size:1.1cm;
}

h3{
	color: white;
	font-size: 0.6cm;
	font-family: 'Aclonica', sans-serif;
}

hr {
	height: 2px;
	width: 80%;
	background-color:white;
	border: none;
}

img:hover {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
  }
.footer {
	
	background-color:#27332F;
	text-align: center;
    width: 100%;
	
	}
